mixin libraryVideoBlock(video = {})
    .libraryVideoBlock.videoBlock
        a(href=routes.videoDetail(video.id))
            .libraryVideoBlock__player.videoPlayer
                video.libraryVideoBlock__thumbnail#jsVideoThumbnail(src=video.videoFile)
            //-재생시간 추가하기
        .libraryVideoBlock__info.videoBlock__info
            .libraryVideo__info-column.video__info-column
                a(href=routes.cnVideos(video.channel._id))
                    .libraryVideo__creator-avatar.user__avatar(style=`background-color:${video.channel.userColor};`)
                        img(src=video.channel.avatarUrl?video.channel.avatarUrl:img.noneUser  class="libraryVideo__creator-img")
            .libraryVideo__info-column.video__info-column
                .libraryVideo__info-main.video__info-main
                    a(href=routes.videoDetail(video.id))
                        h4.libraryVideo__title=video.title
                .libraryVideo__info-sub.video__info-sub
                    a(href=routes.cnVideos(video.channel))
                        h6.libraryVideo__creator-name.video__creator-name=video.channel.name
                    a(href=routes.videoDetail(video.id))
                        h6.libraryVideo__views 조회수 #{video.views}회 • #{video.createdAt}
