mixin searchVideoBlock(video = {})
    .searchVideoBlock
        .search__column
            a(href=routes.videoDetail(video.id))
                .videoBlock__player.videoPlayer
                    video.videoBlock__thumbnail#jsVideoThumbnail(src=video.videoFile)
        .search__column
            a(href=routes.videoDetail(video.id)) 
                .videoInfo
                    h4.video__title=video.title
                    h6.video__views 조회수 #{video.views} • #{video.createdAt}
            a(href=routes.cnVideos(video.channelId))
                .videoCnInfo
                    img.channel__avatar.user__avatar(src=video.channelAvatar)
                    h6.channel__name=video.channelName
            a(href=routes.videoDetail(video.id))
                h6.video__description=video.description




