mixin trendingVideoBlock(video = {})
    .trendingVideoBlock.videoBlock
        a(href=routes.videoDetail(video.id))
            .trendingVideoBlock__player.videoPlayer
                video.trendingVideoBlock__thumbnail(src=video.videoFile)
            //-재생시간 추가하기
        .trendingVideoBlock__info.videoBlock__info
            .trendingVideo__info-column.video__info-column
                a(href=routes.cnVideos(video.channel._id))
                    .trendingVideo__creator-avatar.user__avatar(style=`background-color:${video.channel.userColor};`)
                        img(src=video.channel.avatarUrl?video.channel.avatarUrl:img.noneUser  class="trendingVideo__creator-img")
            .trendingVideo__info-column.video__info-column
                .trendingVideo__info-main.video__info-main
                    a(href=routes.videoDetail(video.id))
                        h4.trendingVideo__title=video.title
                .trendingVideo__info-sub.video__info-sub
                    a(href=routes.cnVideos(video.channel))
                        h6.trendingVideo__creator-name.video__creator-name=video.channel.name
                    a(href=routes.videoDetail(video.id))
                        h6.trendingVideo__views 조회수 #{video.views}회 • #{video.createdAt}




