mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            .videoBlock__player.video__Player
                video.videoBlock__thumbnail(src=video.videoFile)
            //-재생시간 추가하기
        .videoBlock__main
            a(href=routes.videoDetail(video.id))
                h4.video__title=video.title
        .videoBlock__sub
            a(href=routes.videoDetail(video.id))
                h6.video__views 조회수 #{video.views}
//- n시간 전 만들기
