.channelHeader
    img.cnHeader__cover(src=channel.coverUrl)
    .cnHeader__wrapper
        .cnHeader__info
            .info__column
                .user__avatar(style=`background-color:${channel.userColor};`)
                    img(src=channel.avatarUrl ? channel.avatarUrl : img.noneUser class="header__userAvatar-img")

                .cnHeader__detail    
                    .cnHeader__cnName=channel.name
                    .info__column-cnSubscribers
                        div.cnHedaer__cnSubscribers-title 구독자
                        div.cnHeader__cnSubscribers-number=channel.subscribers.length
                        div.cnHedaer__cnSubscribers-person 명
            .info__column
                if user
                    if channelId == user.channel.id
                    else
                        .cnHeader__subscribeBtn                    
                            input#jsSubscribeToken(type="hidden",name="subscribeToken", value=subscribeToken).hidden
                            input#jsChannelId(type="hidden",name="channelId", value=channelId).hidden
                            button.subscribe-btn.subscribeBtn#jsSubscribeBtn 구독 
                else
                    a(href=routes.login)
                        .creator__subscribeBtn 
                            button.subscribe-btn.subscribeBtn 구독 
