.channelNav.nav
    .channelNav__bar.nav__bar
        .channelNav__wrapper.nav__wrapper
            a(href=`${domain}${routes.cnVideos(channel.id)}`) 
                span 동영상
            a(href=`${domain}${routes.cnCommunity(channel.id)}`) 
                span 커뮤니티
            a(href=`${domain}${routes.cnAbout(channel.id)}`) 
                span 정보
            a(href="")
                    i.fas.fa-search
