include ../mixins/subscriptionList

.sidebar#sidebarStandard
    .sidebar__wrapper-small
        .sidebar__element
            .feed-list
                a(href=routes.home class="home")
                    i.fas.fa-home
                    span 홈
                a(href=`${domain}/feed/trending` class="trending")  
                    i.fas.fa-fire
                    span 인기
                a(href=`${domain}/feed/subscriptions` class="subscriptions")
                    i.fas.fa-archive 
                    span 구독
                a(href=`${domain}/feed/library` class="library")
                    i.fas.fa-box
                    span 보관함
    .sidebar__wrapper-big
        .sidebar__element
            .feed-list
                a(href=routes.home class="home")
                    i.fas.fa-home
                    span 홈
                a(href=`${domain}/feed/trending` class="trending")  
                    i.fas.fa-fire
                    span 인기
                a(href=`${domain}/feed/subscriptions` class="subscriptions")
                    i.fas.fa-archive 
                    span 구독
        .sidebar__element
            .playlist-list
                a(href=`${domain}/feed/library` class="library")
                    i.fas.fa-box
                    span 보관함
                a(href=`${domain}/feed/my_videos` class="myvideos")
                    i.fas.fa-film
                    span 내 동영상
                a(href=`${domain}/playlist/WL` class="watchlist")
                    i.fas.fa-clock
                    span 나중에 볼 동영상
                a(href=`${domain}/playlist/LL` class="likelist")
                    i.fas.fa-thumbs-up
                    span 좋아요 표시한 동영상
        .sidebar__element
            ul.subscriptions-list
                each channel in channels
                    +subscriptionList({
                        channelName : channel.name,
                        subscriber:channel.subscriber
                    })
                



        