extends ../layouts/studio

block content
    form(action=`${domain}${routes.sdEditDetails(user.channel.id)}`, method="post")#jsCnDetailForm
        include ../partials/sdEditNav
        .sdEdit__details-wrapper
            .sdEdit__cnName
                h4.sdEdit__cnName-title 채널 이름 및 설명
                h2.sdEdit__cnName-name=user.channel.name
                label(for="jsCnName") 채널 이름
                input(type="text", name="cnName", placeholder="새로운 채널명을 입력하세요" id="jsCnName", value=user.channel.name,required=true)
                .cnDescription-box
                    label(for="jsCnDescription") 채널 설명
                    textarea(name="cnDescription",id="jsCnDescription" placeholder="시청자에게 채널에 대해 설명하세요. 이 설명은 채널의 정보 섹션 및 검색결과 등에 표시됩니다.",wrap="hard",cols="20")=user.channel.description